.venv*/
venv/
env/
__pycache__/
*.py[cod]
.DS_Store
.vscode/
.idea/
*.ckpt
*.pth
*.pt
*.safetensors
*.npz
*.npy
*.zip
*.tar
*.tar.gz
*.tgz
*.vvp
*.vcd
*.fst
*.bit
*.bin
*.jou
*.str
*.dcp
*.wdb
build/
work/
output/
runs/
third_party/
